* {
    margin: 0;
    padding: 0;
}

#game {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

#game-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: lightgray;
}

#grid-container-1 {
    margin-right: 10px;
    width: 600px;
    height: 600px;
}

#grid-container-2 {
    width: 200px;
    height: 200px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-square {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid white;
}

.mouse-location {
    background-color: darkgray;
}

#ship-select-container {
    display: flex;
    flex-direction: column;
}

#clear-random-ready {
    margin-top: 50px;
}

.ship {
    cursor: pointer;
    background-color: dodgerblue;
}

.overlap {
    background-color: lightcoral;
}

.other:hover {
    color: white;
    background-color: black;
}

.mybtn {
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}

.selected {
    color: black;
}

.placed {
    color: black;
}
